<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2" th:fragment="header">
  <a class="navbar-brand" href="#" th:href="@{/}">Game Advisor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" th:href="@{/}" th:classappend="${module == 'accueil' ? 'active' : ''}">Accueil</a>
      <a class="nav-item nav-link" href="#" th:href="@{/types}" th:classappend="${module == 'types' ? 'active' : ''}">Types</a>
      <a class="nav-item nav-link" href="#" th:href="@{/genres}" th:classappend="${module == 'genres' ? 'active' : ''}">Genres</a>
      <a class="nav-item nav-link" href="#" th:href="@{/themes}" th:classappend="${module == 'themes' ? 'active' : ''}">Thèmes</a>
      <a class="nav-item nav-link" href="#" th:href="@{/editeurs}" th:classappend="${module == 'editeurs' ? 'active' : ''}">Éditeurs</a>
    </div>
  </div>
  <script th:if="${message != null}" th:inline="javascript">
      $(function () {
          switch ([[${messageType}]]) {
              case 'success':
                  toastr.success([[${message}]]);
                  break;
              case 'warning':
                  toastr.warning([[${message}]]);
                  break;
              case 'error':
                  toastr.error([[${message}]]);
                  break;
              default:
                  toastr.info([[${message}]]);
          }
      });
  </script>
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
</nav>
</html>
