<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${'Game Advisor - '} + ${module.substring(0, 1).toUpperCase() + module.substring(1)}"></title>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/toastr/2.1.3/toastr.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/toastr/2.1.3/toastr.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
</html>
