a.edit {
    color: #17a2b8;
    text-decoration: none;
}

a.delete {
    color: #ca2116;
}

td.actions {
    text-align: right;
}

.table-title .add-new {
    float: right;
}

.toast-top-right {
    margin-top: 60px;
}

.toast-success {
    background-color: #218838;
}
