<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header">&nbsp</div>

<main role="main" class="container mt-4">
  <h3 class="mb-3"><span th:text="${mode.substring(0, 1).toUpperCase() + mode.substring(1)}"></span> un jeu</h3>
  <form th:action="@{'/jeux/' + ${mode == 'modifier' ? jeu.id + '/' : ''} + ${mode}}" method="post">
    <div class="form-group row">
      <div class="col">
        <label for="nom">Nom</label>
        <input type="text" min="1" class="form-control" id="nom" name="nom" th:value="${jeu?.nom}">
      </div>
      <div class="col">
        <label for="type-select">Type</label>
        <select id="type-select" class="custom-select" name="type">
          <option th:selected="${ jeu?.type == null }" value="">Sélectionner un type</option>
          <option th:selected="${ jeu?.type?.id == type.id }" th:each="type : ${types}" th:text="${type.nom}" th:value="${type.id}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="age-min">Âge minimum conseillé</label>
        <input type="number" min="1" class="form-control" id="age-min" name="age" th:value="${jeu?.ageMinimum}">
      </div>
      <div class="col">
        <label for="genre-select">Genre</label>
        <select id="genre-select" class="custom-select" name="genre">
          <option th:selected="${ jeu?.genre == null }" value="">Sélectionner un genre</option>
          <option th:selected="${ jeu?.genre?.id == genre.id }" th:each="genre : ${genres}" th:text="${genre.nom}" th:value="${genre.id}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="theme-select">Thème</label>
        <select id="theme-select" class="custom-select" name="theme">
          <option th:selected="${ jeu?.theme == null }" selected value="">Sélectionner un thème</option>
          <option th:selected="${ jeu?.theme?.id == theme.id }" th:each="theme : ${themes}" th:text="${theme.nom}" th:value="${theme.id}"></option>
        </select>
      </div>
      <div class="col">
        <label for="editeur-select">Éditeur</label>
        <select id="editeur-select" class="custom-select" name="editeur">
          <option th:selected="${ jeu?.editeur == null }" selected value="">Sélectionner un éditeur</option>
          <option th:selected="${ jeu?.editeur?.id == editeur.id }" th:each="editeur : ${editeurs}" th:text="${editeur.nom}" th:value="${editeur.id}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="nombre-joueurs-min">Nombre de joueurs minimum</label>
        <input type="number" min="1" class="form-control" id="nombre-joueurs-min" name="joueurs-min" th:value="${jeu?.nbJoueurMini}">
      </div>
      <div class="col">
        <label for="nombre-joueurs-max">Nombre de joueurs maximum</label>
        <input type="number" min="1" class="form-control" id="nombre-joueurs-max" name="joueurs-max" th:value="${jeu?.nbJoueurMaxi}">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-success mt-3"><span th:text="${mode.substring(0, 1).toUpperCase() + mode.substring(1)}"></span> le jeu</button>
      </div>
    </div>
  </form>
</main>
</body>
</html>
