<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
  <div class="table-title my-3">
    <div class="row">
      <div class="col-sm-10"><h3><b><span th:text="${module.substring(0, 1).toUpperCase() + module.substring(1)}"></span> de jeux</b></h3></div>
      <div class="col-sm-2 align-content-end">
        <button type="button" class="btn btn-success add-new" id="add-btn" onclick="toggleNewForm()"><i class="fa fa-plus"></i> Ajouter</button>
      </div>
    </div>
    <div class="row p-3" id="add-form" style="display:none">
      <form th:action="@{'/' + ${module}}" method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" name="nom">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-success add-new" onclick="toggleNewForm()"><i class="fa fa-check"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-striped table-fit">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="padding-left: 24px">Nom</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
      <th scope="row" th:text="${item.getId()}"></th>
      <td style="width: 300px">
        <span th:id="${item.getId() + '-text'}" th:text="${item.getNom()}" style="padding-left: 12px"></span>

        <form th:id="${item.getId() + '-form'}" th:action="@{'/' + ${module} + '/' + ${item.getId()}}" method="post" style="display:none;">
          <div class="input-group">
            <input type="text" class="form-control form-edit" placeholder="Nom" aria-label="Nom" name="nom" th:value="${item.getNom()}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-success add-new" th:onclick="|toggleEditForm('${item.getId()}')|"><i class="fa fa-check"></i></button>
            </div>
          </div>
        </form>
      </td>
      <td class="actions">
        <a class="edit m-1" th:onclick="|toggleEditForm('${item.getId()}')|" data-toggle="tooltip" data-placement="left" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a class="delete m-1" th:href="@{'/' + ${module} + '/' + ${item.getId()} + '/supprimer'}" data-toggle="tooltip" data-placement="right" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</main>

<script>

  function toggleNewForm() {
      $('#add-form').toggle();
      $('#add-btn').toggle();
  }

  function toggleEditForm(id) {
      $(`#${id}-form`).toggle();
      $(`#${id}-text`).toggle();
  }
</script>

</body>
</html>
