<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header">&nbsp</div>

<main role="main" class="container-fluid px-5 py-4">
  <div class="table-title my-3">
    <div class="row">
      <div class="col-sm-10"><h3><b>Jeux</b> correspondants aux filtres</h3></div>
      <div class="col-sm-2 align-content-end">
        <a type="button" class="btn btn-success add-new" id="add-btn" href="#" th:href="@{/jeux/ajouter}"><i class="fa fa-plus"></i> Ajouter</a>
      </div>
    </div>
  </div>
  <table class="table table-striped table-fit" id="jeuxTable">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Genre</th>
      <th scope="col">Type</th>
      <th scope="col">Thème</th>
      <th scope="col">Éditeur</th>
      <th scope="col">Âge minimum</th>
      <th scope="col">Joueurs</th>
      <th scope="col">Note</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jeu : ${jeux}">
      <th scope="row" th:text="${ jeu?.nom}"></th>
      <td th:text="${jeu?.genre?.nom}"></td>
      <td th:text="${jeu?.type?.nom}"></td>
      <td th:text="${jeu?.theme?.nom}"></td>
      <td th:text="${jeu?.editeur?.nom}"></td>
      <td th:text="${jeu.getAgeMinimum()} + ' ans'"></td>
      <td th:text="${jeu.getNbJoueurMini() + ' à ' + jeu.getNbJoueurMaxi()}"></td>
      <td th:text="${jeuService.moyenne(jeu)}"></td>
      <td class="actions">
        <a class="edit m-1" th:href="@{'/jeux/' + ${jeu.getId()} + '/modifier'}" data-toggle="tooltip" data-placement="left" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a class="delete m-1" th:href="@{'/jeux/' + ${jeu.getId()} + '/supprimer'}" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</main>

</body>
</html>
